<?xml version="1.0"?>
<launch>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <arg name="robot_namespace" default="/"/>
    <!-- Optionally disable teleop control -->
    <arg name="joystick" default="false" />

    <!-- Add model_name argument -->
    <arg name="model_name" value="husky_$(arg robot_namespace)"/>

    <group ns="$(arg robot_namespace)">
        <param name="robot_description" command="$(find xacro)/xacro '$(find multi_husky)/urdf/husky.urdf.xacro'
         --inorder 
         robot_namespace:=$(arg robot_namespace)
         "/>

        <include file="$(find multi_husky)/launch/control.launch">
            <arg name="robot_namespace" value="$(arg robot_namespace)" />
        </include>

        <include file="$(find multi_husky)/launch/teleop.launch">
            <arg name="joystick" value="$(arg joystick)" />
        </include>

        <!-- Additional nodes for specific accessories -->
        <group if="$(optenv HUSKY_REALSENSE_ENABLED 1)">
            <include file="$(find husky_gazebo)/launch/realsense.launch" />
        </group>

        <!-- Spawn robot in gazebo -->
        <node name="spawn_husky_model" pkg="gazebo_ros" type="spawn_model"
            args="-x $(arg x)
                -y $(arg y)
                -z $(arg z)
                -Y $(arg yaw)
                -unpause
                -urdf
                -param robot_description
                -model $(arg model_name)
                -robot_namespace $(arg robot_namespace)"/>


    </group>

</launch>